
{% extends 'base.html' %}

{% block content %}

<br>
   <div class="row bg-light">
       <div class="col-md-2"></div>
      <div class="col-md-8">
        <form method = 'POST' action = ''>
            <!--protect form  -->
            {{ form.hidden_tag() }}
 
         <fieldset class="form-group">
             <legend class="border-bottom pt-2 pb-2 mb-4"></legend>
             <div class="form-group">
                {{form.username.label(class="form-label" )}}

                {% if form.username.errors %}

                {{form.username(class="form-control form-control-sm is-invalid" )}}
                <div class="invalid-feedback">
                    {% for error in form.username.errors  %}

                        <span>{{error}} </span>
                    {% endfor %}
                </div>
                {% else%}
                {{form.username(class="form-control form-control-sm" )}}
                {% endif %}
                
             </div>
             <br>
             <div class="form-group">
                 {{form.email.label(class="form-label")}}

                 {% if form.email.errors %}

                {{form.email(class="form-control form-control-sm is-invalid" )}}
                <div class="invalid-feedback">
                    {% for error in form.email.errors  %}

                        <span>{{error}} </span>
                    {% endfor %}
                </div>
                {% else%}
                {{form.email(class="form-control form-control-sm")}}
                {% endif %}

                 
             </div>
             <br>
             <div class="form-group">
                 {{form.password.label(class="form-label")}}

                 {% if form.password.errors %}

                {{form.password(class="form-control form-control-sm is-invalid" )}}
                <div class="invalid-feedback">
                    {% for error in form.password.errors  %}

                        <span>{{error}} </span>
                    {% endfor %}
                </div>
                {% else%}
                {{form.password(class="form-control form-control-sm")}}
                {% endif %}
                 
             </div>
             <br>
             <div class="form-group">
                 {{form.password_confirm.label(class="form-label")}}
                 {% if form.password_confirm.errors %}

                {{form.password_confirm(class="form-control form-control-sm is-invalid" )}}
                <div class="invalid-feedback">
                    {% for error in form.password_confirm.errors  %}

                        <span>{{error}} </span>
                    {% endfor %}
                </div>
                {% else%}
                {{form.password_confirm(class="form-control form-control-sm")}}
                {% endif %}
             </div>
         </fieldset>
         <br>
         <div class="d-grid gap-2 col-6 form-group mx-auto">
             {{form.submit(class="btn btn-primary " )}}
         </div>
        </form>
      </div>
      <div class="col-md-2"></div>
   </div>
   <br>
   <div class=" pt-3">
       <small class="text-muted">
           Already have an account? 
           <a href="{{url_for('login')}} " class="ml-4">Sign In</a>
       </small>
   </div>
{% endblock %}